<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="layout :: head"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div  class="body">
    <div class="container">
        <div class="center block">
            <div th:replace="admin/menu :: edit-contest-menu"></div>
            <div class="edit-box">

                <div>
                    <div>Problems Added to the contest:</div>
                    <table class="problems">
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th></th>
                        </tr>
                        <tr th:if="${contest.problemDtoList == null || contest.problemDtoList.size() < 1}">
                            <td colspan="3">No problems added. Select from below or create new problems to add them.</td>
                        </tr>
                        <tr style="cursor: pointer" th:each="contestProblem : ${contest.problemDtoList}">
                            <td th:text="${contestProblem.problemDto.name}"></td>
                            <td><a th:text="${contestProblem.problemDto.code}" th:href="@{/admin/problems/edit/__${contestProblem.problemDto.id}__/details}"></a></td>
                            <td>
                                <a onclick="removeProblem(this)" th:attr="data-id=${contestProblem.id}"><img class="icon" th:src="@{/img/delete.png}" src="" alt="Delete"></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <div>Problems Created by You:</div>
                    <table class="problems">
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th></th>
                            <th></th>
                        </tr>


                        <tr style="cursor: pointer" th:each="problem : ${problems}">
                            <td th:text="${problem.name}"></td>
                            <td><a th:text="${problem.code}" href="javascript:void(0)"></a></td>
                            <td>
                                <a th:href="@{/admin/problems/edit/__${problem.id}__/details}"><img class="icon" th:src="@{/img/edit.png}" src="" alt="Edit"></a>
                            </td>
                            <td><a href="#" onclick="addProblem(this)" th:attr="data-id=${problem.id}" class="button" >Add</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div class="sidebar-box block">
                <div class="section-title box-title">Actions</div>
                <div class="box-content" style="display: inline-flex;">

                    <div style="margin: 10px;">
                        <a href="javascript:void(0)"  class="button" >Publish</a>
                    </div>
                    <div style="margin: 10px;">
                        <a href="javascript:void(0)" class="button delete-button" >Delete</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    function addProblem(problem) {
        var id = $(problem).data('id');
        var contestId = /*[[${contest.id}]]*/
        $.ajax({
            url: '/admin/contests/edit/' + contestId + '/add_problem?problemId=' + id,
            type: "POST",
            contentType: 'json',
            success: function (data, textStatus, jqXHR) {
                console.log(data);
                if (jqXHR.status === 200) {
                    window.location.reload();
                }
            },
            error: function (jqXoHR, textStatus, errorThrown) {
                //if fails
            }
        });
    }
    function removeProblem(problem) {
        var id = $(problem).data('id');
        var contestId = /*[[${contest.id}]]*/
            $.ajax({
                url: '/admin/contests/edit/' + contestId + '/remove_problem/' + id,
                type: "DELETE",
                contentType: 'json',
                success: function (data, textStatus, jqXHR) {
                    console.log(data);
                    if (jqXHR.status === 200) {
                        window.location.reload();
                    }
                },
                error: function (jqXoHR, textStatus, errorThrown) {
                    //if fails
                }
            });
    }
</script>
<div th:replace="fragments/footer :: footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>