<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div  class="body">
    <div class="container">
        <div class="center block">

            <div class="submission">
                <div th:if="${submission.result.status == T(com.dscjss.codingplatform.util.Status).RUNNING}">
                    <div>
                        <img style="width: 250px;" src="" th:src="@{/img/running.gif}" alt="Running"/>
                        <div>RUNNING</div>
                        <script>
                            window.setTimeout(function(){location.reload()},3000)
                        </script>
                    </div>
                </div>
                <div th:unless="${submission.result.status == T(com.dscjss.codingplatform.util.Status).RUNNING}">

                    <div th:if="${submission.result.status == T(com.dscjss.codingplatform.util.Status).CORRECT}">
                        <img src="" th:src="@{/img/correct.png}" alt="Correct"/>
                        <div>Correct</div>
                    </div>

                    <div th:if="${submission.result.status == T(com.dscjss.codingplatform.util.Status).WRONG}">
                        <img src="" th:src="@{/img/wrong.png}" alt="Wrong"/>
                        <div>Wrong</div>
                    </div>

                    <div th:if="${submission.result.status == T(com.dscjss.codingplatform.util.Status).TIME_LIMIT_EXCEEDED}">
                        <img src="" th:src="@{/img/time_limit_exceeded.png}" alt="Time Limit Exceeded"/>
                        <div>Time Limit Exceeded</div>
                    </div>


                    <div th:if="${submission.result.status == T(com.dscjss.codingplatform.util.Status).RUNTIME_ERROR}">
                        <img src="" th:src="@{/img/runtime_error.png}" alt="Runtime Error"/>
                        <div>Runtime Error</div>
                    </div>

                    <div th:if="${submission.result.status == T(com.dscjss.codingplatform.util.Status).COMPILATION_ERROR}">
                        <img src="" th:src="@{/img/compilation_error.png}" alt="Compilation Error"/>
                        <div>Compilation Error</div>
                    </div>
                    <div th:if="${submission.result.status == T(com.dscjss.codingplatform.util.Status).INTERNAL_ERROR}">
                        <img src="" th:src="@{/img/internal_error.png}" alt="Failed, please try again."/>
                        <div>Submission Failed, Please try again.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>