<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Title</title>
    <th:block th:fragment="head">
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">
        <link th:href="@{/css/style.css}" rel="stylesheet"/>
    </th:block>

</head>
<body>
<!--<div th:replace="fragments/header :: header"></div>-->

<div  id="body">
    <!--<div th:replace="fragments/navbar :: navbar"></div>-->
    <div class="container">

    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>