<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Title</title>
    <th:block th:fragment="head">
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">
        <link th:href="@{/css/style.css}" rel="stylesheet"/>
    </th:block>

</head>
<body>
<!--<div th:replace="fragments/header :: header"></div>-->

<div  id="body">
    <!--<div th:replace="fragments/navbar :: navbar"></div>-->
    <div class="container">
        <div class="register">
            <form action="/register" method='POST'>
                <label>Name:
                    <input name="name" type="text" >
                </label>
                <label>Username:
                    <input name="username" type="text" >
                </label>
                <label>Email:
                    <input name="email" type="email" >
                </label>
                <label>
                    Password
                    <input name="password" type="password">
                </label>
                <label>Confirm Password:
                    <input name="matchingPassword" type="password" >
                </label>
                <div style="text-align: center">
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>