<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div  class="body">
    <div class="container">
        <div class="block">
            <ul class="breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li class="next">&#8811;</li>
                <li><a th:href="@{/contests}">Contests</a></li>
                <li class="next">&#8811;</li>
                <li th:text="${contest.name}"></li>
                <!--<li><a th:href="@{/contests/__${contest.code}__/problems/__${problem.problemDto.code}__}" th:text="${problem.problemDto.name}"></a></li>-->
            </ul>
        </div>
        <div style="display: inline-flex; width: 100%">


            <div class="center block">

                <div>
                    <div>
                        <table class="problems">
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th></th>
                            </tr>


                            <tr style="cursor: pointer" th:each="contestProblem : ${contest.problemDtoList}">
                                <td th:text="${contestProblem.problemDto.name}"></td>
                                <td><a th:text="${contestProblem.problemDto.code}" href="javascript:void(0)"></a></td>
                                <td>
                                    <a th:href="@{/contests/__${contest.code}__/problems/__${contestProblem.problemDto.code}__}"><img class="icon" th:src="@{/img/link.png}" src="" alt="Link"></a>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <div class="sidebar">
                <div th:replace="fragments/sidebar-boxes :: contest-timer-box"></div>

                <div th:replace="fragments/sidebar-boxes :: contest-leaderboard-box"></div>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>