<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div  class="body">
    <div class="container">
        <div class="block">
            <ul class="breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li class="next">&#8811;</li>
                <li>Contests</li>
            </ul>
        </div>
        <div class="center block">
            <div>
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th></th>
                    </tr>

                    <tr style="cursor: pointer" th:each="contest : ${contests}">
                        <td th:text="${contest.startDate}"></td>
                        <td th:text="${contest.name}"></td>
                        <td>
                            <a th:href="@{/contests/__${contest.code}__}"><img class="icon" th:src="@{/img/link.png}" src="" alt="Link"></a>
                        </td>
                    </tr>
                </table>

            </div>

        </div>
        <div class="sidebar">
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>