<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div  class="body">
    <div class="container">
        <div class="center block">


        </div>
        <div class="sidebar">


            <!--<div th:replace="fragments/sidebar-boxes :: submissions-box"></div>-->
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>