<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div  class="body">
    <div class="container">
        <div class="block">
            <ul class="breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li class="next">&#8811;</li>
                <li>Contests</li>
            </ul>
        </div>
        <div class="center block">
            <div>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>

                    <tr class="clickable" th:each="contest : ${contests}" th:attr="data-href=@{/contests/__${contest.code}__}">
                        <td th:text="${contest.name}"></td>
                        <td class="utc-date" th:attr="data-millis=${contest.startDate.getTime()}" th:text="${#dates.format(contest.startDate, 'dd-MMM-yyyy hh:mm a')}"></td>
                        <td class="utc-date" th:attr="data-millis=${contest.endDate.getTime()}" th:text="${#dates.format(contest.endDate, 'dd-MMM-yyyy hh:mm a')}"></td>

                    </tr>
                </table>
                <script>
                    $(document).ready(function () {
                        $('.clickable').click(function () {
                            window.location = $(this).data('href');
                        });/*
                        function convertUTCDateToLocalDate(date) {
                            var newDate = new Date(date.getTime() + date.getTimezoneOffset() * 60 * 1000);

                            var offset = date.getTimezoneOffset() / 60;
                            var hours = date.getHours();

                            newDate.setHours(hours - offset);
                            return newDate;
                        }*/
                        /*$('.utc-date').each(function () {
                            var utcDate = $(this).data('millis');
                            console.log(utcDate);
                            var localDate = convertUTCDateToLocalDate(new Date(utcDate));
                            $(this).text(localDate.toLocaleString('en-us', {day:'numeric', month: 'long', year : 'numeric', hour : 'numeric', hour12 : true, minute : 'numeric' }));
                        });*/
                    });
                </script>

            </div>

        </div>
        <div class="sidebar">
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>