<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contests</title>
    <th:block th:include="layout :: head"/>
    <meta charset="UTF-8">
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div  class="body">
    <div class="container">
        <div class="block">
            <ul class="breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li class="next">&raquo;</li>
                <li>Contests</li>
            </ul>
        </div>
        <div class="center block">
            <div>
                <table class="large">
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>

                    <tr class="clickable" th:each="contest : ${contests}" th:attr="data-href=@{/contests/__${contest.code}__}">
                        <td th:text="${contest.name}"></td>
                        <td class="utc-date" th:attr="data-val=${#dates.formatISO(contest.startDate)}" th:text="${#dates.format(contest.startDate, 'dd-MMM-yyyy hh:mm a')}"></td>
                        <td class="utc-date" th:attr="data-val=${#dates.formatISO(contest.endDate)}" th:text="${#dates.format(contest.endDate, 'dd-MMM-yyyy hh:mm a')}"></td>

                    </tr>
                </table>
                <script>
                    $(document).ready(function () {
                        $('.clickable').click(function () {
                            window.location = $(this).data('href');
                        });
                        $('.utc-date').each(function () {
                            var utcDate = $(this).data('val');
                            console.log(utcDate);
                            var localDate = new Date(utcDate);
                            $(this).text(localDate.toLocaleString('en-us', {day:'numeric', month: 'long', year : 'numeric', hour : 'numeric', hour12 : true, minute : 'numeric' }));
                        });
                    });
                </script>

            </div>

        </div>
        <div class="sidebar">
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>