<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div  class="body">
    <div class="container">
        <div class="block">
            <ul class="breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li class="next">&#8811;</li>
                <li><a th:href="@{/contests}">Contests</a></li>
                <li class="next">&#8811;</li>
                <li th:text="${contest.name}"></li>
                <!--<li><a th:href="@{/contests/__${contest.code}__/problems/__${problem.problemDto.code}__}" th:text="${problem.problemDto.name}"></a></li>-->
            </ul>
        </div>
        <div style="display: inline-flex; width: 100%">


            <div class="center block">

                <div>
                    <div>
                        <table class="problems">
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Submissions</th>
                            </tr>


                            <tr class="clickable" th:each="contestProblem : ${contest.problemDtoList}" th:attr="data-href=@{/contests/__${contest.code}__/problems/__${contestProblem.problemDto.code}__}">
                                <td th:text="${contestProblem.problemDto.name}"></td>
                                <td th:text="${contestProblem.problemDto.code}"></td>
                                <td></td>
                            </tr>
                        </table>
                        <script>
                            $(document).ready(function () {
                                $('.clickable').click(function () {
                                    window.location = $(this).data('href');
                                });
                            });
                        </script>
                    </div>

                </div>
            </div>
            <div class="sidebar">
                <div th:replace="fragments/sidebar-boxes :: contest-timer-box"></div>

                <div th:replace="fragments/sidebar-boxes :: contest-leaderboard-box"></div>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>