<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${contest.name}"></title>
    <th:block th:include="layout :: head"/>
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div  class="body">

    <div class="container">
        <div class="block">
            <ul class="breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li class="next">&raquo;</li>
                <li><a th:href="@{/contests}">Contests</a></li>
                <li class="next">&raquo;</li>
                <li><a th:href="@{/contests/__${contest.code}__}" th:text="${contest.name}"></a></li>
                <li class="next">&raquo;</li>
                <li th:text="${problem.problemDto.name}"></li>
                <!--<li><a th:href="@{/contests/__${contest.code}__/problems/__${problem.problemDto.code}__}" th:text="${problem.problemDto.name}"></a></li>-->
                <li style="float: right;"><a th:href="@{/contests/__${contest.code}__/submit/__${problem.problemDto.code}__}">Code Editor</a></li>
            </ul>
        </div>
        <div style="display: inline-flex; width: 100%;">
            <div class="center block">
                <div class="problem-statement">
                    <div class="problem-head" >
                        <div class="name" th:text="${problem.problemDto.name}"></div>
                        <div class="code" th:text="'Problem Code - ' + ${problem.problemDto.code}"></div>
                    </div>

                    <div class="description" th:utext="${problem.problemDto.description}"></div>

                    <div class="input-specification">
                        <div class="section-title">Input Format</div>
                        <div  th:utext="${problem.problemDto.inputFormat}">Input format</div>
                    </div>
                    <div class="output-specification">
                        <div class="section-title">Output Format</div>
                        <div  th:utext="${problem.problemDto.outputFormat}">Output format</div>
                    </div>
                    <div class="constraints">
                        <div class="section-title">Constraints</div>
                        <div  th:utext="${problem.problemDto.constraints}">Constraints</div>
                    </div>
                    <div class="sample-tests">
                        <div class="section-title">Sample</div>
                        <div class="sample-test" th:each="testCase : ${problem.problemDto.testCaseDtoList}">
                            <div class="input">
                                <div class="title">input</div>
                                <pre th:text="${testCase.input}"></pre>
                            </div>
                            <div class="output">
                                <div class="title">output</div>
                                <pre th:text="${testCase.output}"></pre>
                            </div>
                        </div>
                    </div>
                    <div class="info-bar">
                        <div class="info">
                            <div class="info-title">
                                Author:
                            </div>
                            <div th:text="${problem.problemDto.author.username}"></div>
                        </div>
                        <div class="info">
                            <div class="info-title">
                                Time Limit:
                            </div>
                            <div th:text="${T(java.lang.String).format('%.2f',__${problem.problemDto.minTimeLimit/1000.0}__) + 's' + ' - '
                            + T(java.lang.String).format('%.2f',__${problem.problemDto.maxTimeLimit/1000.0}__) + 's'}"></div>
                        </div>
                        <div class="info">
                            <div class="info-title">
                                Source Limit:
                            </div>
                            <div>50000 bytes</div>
                        </div>
                        <div class="info">
                            <div class="info-title">
                                Languages:
                            </div>
                            <div>
                                <th:block th:text="${problem.problemDto.compilers[0].name}"/>
                                <th:block th:each="compiler, itr : ${problem.problemDto.compilers}">
                                    <th:block th:if="${itr.index > 0}" th:text="${', ' + compiler.name}"/>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center; margin: 10px 0;">
                        <a class="button submit-button" th:href="@{/contests/__${contest.code}__/submit/__${problem.problemDto.code}__}">Submit</a>
                    </div>
                </div>
            </div>
            <div class="sidebar">
                <div th:replace="fragments/sidebar-boxes :: contest-submit-box"></div>

                <div th:replace="fragments/sidebar-boxes :: contest-submissions-box"></div>

                <div th:replace="fragments/sidebar-boxes :: contest-leaderboard-box"></div>
            </div>
        </div>

    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>