<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${'Leaderboard - ' + contest.name}"></title>
    <th:block th:include="layout :: head"/>
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div  class="body">
    <div class="container">
        <div class="block">
            <ul class="breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li class="next">&raquo;</li>
                <li><a th:href="@{/contests}">Contests</a></li>
                <li class="next">&raquo;</li>
                <li><a th:href="@{/contests/__${contest.code}__}" th:text="${contest.name}"></a></li>
                <li class="next">&raquo;</li>
                <li th:text="Leaderboard"></li>
                <!--<li><a th:href="@{/contests/__${contest.code}__/problems/__${problem.problemDto.code}__}" th:text="${problem.problemDto.name}"></a></li>-->
            </ul>
        </div>
        <div class="center block">
            <div>
                <div>
                    <table class="large">
                        <tr>
                            <th>Rank</th>
                            <th>Username</th>
                            <th>Score</th>
                        </tr>


                        <tr th:each="row: ${page.getContent()}">
                            <th:block th:if="${row.rank == 0}">
                                <td th:text="${'-'}"></td>
                            </th:block>
                            <th:block th:unless="${row.rank == 0}">
                                <td th:text="${row.rank}"></td>
                            </th:block>
                            <td th:text="${row.user.username}"></td>
                            <td th:text="${T(java.lang.String).format('%.2f', __${row.score}__)}"></td>
                        </tr>

                    </table>
                    <div class="pagination" th:unless="${page.getContent() == null || page.getContent().size() < 1}">

                        <a class="" th:href="@{${#httpServletRequest.requestURI}(page=${page.getNumber()})}" th:if="${page.getNumber() > 0}">&laquo;</a>
                        <a href="#"  th:unless="${page.getNumber() > 0}">&laquo;</a>

                        <div>
                            <div th:text="${page.getNumber() + 1} + ' of ' + ${page.getTotalPages()}"></div>
                        </div>
                        <a class="" th:href="@{${#httpServletRequest.requestURI}(page=${page.getNumber()+2})}" th:if="${page.hasNext()}">&raquo;</a>
                        <a href="#"  th:unless="${page.hasNext()}">&raquo;</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar">

        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>