<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

    <div  class="body">
        <div class="container">
            <div class="center block">
                <div class="problem-statement">
                    <div class="problem-head" >
                        <div class="name" th:text="${problem.name}"></div>
                        <div class="code" th:text="'Problem Code - ' + ${problem.code}"></div>
                    </div>

                    <div class="description" th:utext="${problem.description}"></div>

                    <div class="input-specification">
                        <div class="section-title">Input Format</div>
                        <div  th:utext="${problem.inputFormat}">Input format</div>
                    </div>
                    <div class="output-specification">
                        <div class="section-title">Output Format</div>
                        <div  th:utext="${problem.outputFormat}">Output format</div>
                    </div>
                    <div class="constraints">
                        <div class="section-title">Constraints</div>
                        <div  th:utext="${problem.constraints}">Constraints</div>
                    </div>
                    <div class="sample-tests">
                        <div class="section-title">Example</div>
                        <div class="sample-test" th:each="testCase : ${problem.testCaseDtoList}">
                            <div class="input">
                                <div class="title">input</div>
                                <pre th:text="${problem.inputData}"></pre>
                            </div>
                            <div class="output">
                                <div class="title">output</div>
                                <pre th:text="${problem.outputData}">15</pre>
                            </div>
                            <div class="explanation">
                                <div class="title">explanation</div>
                                <pre>Explanation</pre>
                            </div>
                        </div>
                    </div>
                    <div class="info-bar">
                        <div class="info">
                            <div class="info-title">
                                Author:
                            </div>
                            <div th:text="${problem.author.username}"></div>
                        </div>
                        <div class="info">
                            <div class="info-title">
                                Time Limit:
                            </div>
                            6 sec
                        </div>
                        <div class="info">
                            <div class="info-title">
                                Source Limit:
                            </div>
                            50000 bytes
                        </div>
                    </div>
                    <div style="text-align: center; margin: 10px 0;">
                        <a class="button submit-button" th:href="@{'/problems/submit/'+ ${problem.code}}">Submit</a>
                    </div>
                </div>
            </div>
            <div class="sidebar">
                <!--<div th:replace="fragments/sidebar-boxes :: submit-box"></div>-->

                <div th:replace="fragments/sidebar-boxes :: problem-tags-box"></div>

                <!--<div th:replace="fragments/sidebar-boxes :: submissions-box"></div>-->
            </div>
        </div>

    </div>
    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>