<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${problem.code + ' -' + problem.name}"></title>
    <th:block th:include="layout :: head"/>
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

    <div  class="body">
        <div class="container">
            <div class="block">
                <ul class="breadcrumb">
                    <li><a th:href="@{/}">Home</a></li>
                    <li class="next">&raquo;</li>
                    <li><a th:href="@{/problems}">Problems</a></li>
                    <li class="next">&raquo;</li>
                    <li th:text="${problem.name}"></li>
                    <li style="float: right;"><a th:href="@{/problems/submit/__${problem.code}__}">Code Editor</a></li>
                </ul>
            </div>
            <div style="display: inline-flex; width: 100%;">
                <div class="center block">
                    <div class="problem-statement">
                        <div class="problem-head" >
                            <div class="name" th:text="${problem.name}"></div>
                            <div class="code" th:text="'Problem Code - ' + ${problem.code}"></div>
                        </div>

                        <div  th:utext="${problem.description}"></div>

                        <div>
                            <div class="section-title">Input Format</div>
                            <div  th:utext="${problem.inputFormat}">Input format</div>
                        </div>
                        <div>
                            <div class="section-title">Output Format</div>
                            <div  th:utext="${problem.outputFormat}">Output format</div>
                        </div>
                        <div>
                            <div class="section-title">Constraints</div>
                            <div  th:utext="${problem.constraints}">Constraints</div>
                        </div>
                        <div>
                            <div class="section-title">Sample</div>
                            <div class="sample-test" th:each="testCase : ${problem.testCaseDtoList}">
                                <div class="input">
                                    <div class="title">input</div>
                                    <pre th:text="${testCase.input}"></pre>
                                </div>
                                <div class="output">
                                    <div class="title">output</div>
                                    <pre th:text="${testCase.output}">15</pre>
                                </div>
                            </div>
                        </div>
                        <div th:if="${problem.explanation != null && problem.explanation.length() > 0}">
                            <div class="section-title">Explanation</div>
                            <div th:utext="${problem.explanation}"></div>
                        </div>
                        <div class="info-bar">
                            <div class="info">
                                <div class="info-title">
                                    Author:
                                </div>
                                <div th:text="${problem.author.username}"></div>
                            </div>
                            <div class="info">
                                <div class="info-title">
                                    Time Limit:
                                </div>
                                <th:block th:if="${problem.minTimeLimit eq problem.maxTimeLimit}">
                                    <div th:text="${T(java.lang.String).format('%.2f',__${problem.minTimeLimit/1000.0}__) + 's'}"></div>
                                </th:block>
                                <th:block th:unless="${problem.minTimeLimit eq problem.maxTimeLimit}">
                                    <div th:text="${T(java.lang.String).format('%.2f',__${problem.minTimeLimit/1000.0}__) + 's' + ' - ' + T(java.lang.String).format('%.2f',__${problem.maxTimeLimit/1000.0}__) + 's'}"></div>
                                </th:block>
                                 </div>
                            <div class="info">
                                <div class="info-title">
                                    Source Limit:
                                </div>
                                <div>50000 bytes</div>
                            </div>
                            <div class="info">
                                <div class="info-title">
                                    Languages:
                                </div>
                                <div>
                                    <th:block th:text="${problem.compilers[0].name}"/>
                                    <th:block th:each="compiler, itr : ${problem.compilers}">
                                        <th:block th:if="${itr.index > 0}" th:text="${', ' + compiler.name}"/>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                        <div style="text-align: center; margin: 10px 0;">
                            <a class="button submit-button" th:href="@{'/problems/submit/'+ ${problem.code}}">Submit</a>
                        </div>
                    </div>
                </div>
                <div class="sidebar">
                    <div th:replace="fragments/sidebar-boxes :: submit-box"></div>
                    <div th:replace="fragments/sidebar-boxes :: submissions-box"></div>
                    <div th:replace="fragments/sidebar-boxes :: problem-tags-box"></div>

                </div>
            </div>

        </div>

    </div>
    <div th:replace="fragments/footer :: footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>