<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Problems</title>
    <th:block  th:include="layout :: head"/>
    <meta charset="UTF-8">
</head>
<body>

    <div th:replace="fragments/header :: header"></div>
    <div  class="body">
        <div class="container">
            <div class="block">
                <ul class="breadcrumb">
                    <li><a th:href="@{/}">Home</a></li>
                    <li class="next">&raquo;</li>
                    <li>Problems</li>
                </ul>
            </div>
            <div class="center block">
                <div>
                    <table class="problems large">
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Successful Submissions</th>
                        </tr>


                        <tr class="clickable" th:each="problem : ${page.getContent()}" th:attr="data-href=@{/problems/__${problem.code}__}">
                            <td th:text="${problem.name}"></td>
                            <td th:text="${problem.code}"></td>
                            <td>5</td>
                        </tr>
                    </table>
                    <script>
                        $(document).ready(function () {
                            $('.clickable').click(function () {
                                window.location = $(this).data('href');
                            });
                        });
                    </script>
                    <div class="pagination" th:if="${page.getTotalPages()}  > 0">

                        <a class="" th:href="@{${#httpServletRequest.requestURI}(page=${page.getNumber()})}" th:if="${page.getNumber() > 0}">&laquo;</a>
                        <a href="#"  th:unless="${page.getNumber() > 0}">&laquo;</a>

                        <div>
                            <div th:text="${page.getNumber() + 1} + ' of ' + ${page.getTotalPages()}"></div>
                        </div>
                        <a class="" th:href="@{${#httpServletRequest.requestURI}(page=${page.getNumber()+2})}" th:if="${page.hasNext()}">&raquo;</a>
                        <a href="#"  th:unless="${page.hasNext()}">&raquo;</a>

                    </div>

                </div>

            </div>
            <div class="sidebar">
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>