<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:replace="fragments/header :: header"></div>
    <div  class="body">
        <div class="container">
            <div class="block">
                <ul class="breadcrumb">
                    <li><a th:href="@{/}">Home</a></li>
                    <li class="next">&#8811;</li>
                    <li>Problems</li>
                </ul>
            </div>
            <div class="center block">
                <div>
                    <div style="min-height: 600px;">
                        <table class="problems">
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Successful Submissions</th>
                            </tr>


                            <tr style="cursor: pointer" th:each="problem : ${page.getContent()}">
                                <td th:text="${problem.name}"></td>
                                <td><a th:text="${problem.code}" th:href="@{/problems/__${problem.code}__}"></a></td>
                                <td>5</td>
                            </tr>
                        </table>
                    </div>
                    <div class="pagination" th:if="${page.getTotalPages()}  > 0">

                        <a class="" th:href="@{${#httpServletRequest.requestURI}(page=${page.getNumber()})}" th:if="${page.getNumber() > 0}">&laquo;</a>
                        <a href="#"  th:unless="${page.getNumber() > 0}">&laquo;</a>

                        <div>
                            <div th:text="${page.getNumber() + 1} + ' of ' + ${page.getTotalPages()}"></div>
                        </div>
                        <a class="" th:href="@{${#httpServletRequest.requestURI}(page=${page.getNumber()+2})}" th:if="${page.hasNext()}">&raquo;</a>
                        <a href="#"  th:unless="${page.hasNext()}">&raquo;</a>

                    </div>

                </div>

            </div>
            <div class="sidebar">
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>